<div class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> full name </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> school </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> school </label>
          <input class="ui input"
                 name="school"
                 ng-model="user.profile.school">
        </div>

        <div class="field">
          <label>graduation year</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">graduation year</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
          </select>
        </div>

        <div class="field">
          <label>gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <div class="field">
          <label>i consider myself a...</label>
          <input type="text"
                 placeholder="hacker, tinkerer, electrical engineer, etc"
                 ng-model="user.profile.description">
        </div>

        <div class="field">
          <label>
              why do u want to go to hackathon? / what do u want to make? (optional)
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <div class="field"
             ng-hide="isMitStudent">
          <p>
            <strong>
            we will be checking id. if u are a non-MIT minor, u will be turned away at the door :(.
            </strong>
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult">I am 18 or older.</label>
          </div>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
