/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: darken(rgb(114, 0, 218), 13%);
$secondary: darken(rgb(0, 185, 241), 8%);
$tertiary: darken(rgb(249, 192, 12), 5%);
