#login {
  height: 100%;
  width: 100%;

  .background-container {
    position: absolute;
    width: 100%;
    height: 100%;

    .stripe-0 {
      height: 49%;
      background: #efefef;
    }

    .stripe-1 {
      height: 35%;
      background: #f9c00c;
    }
    
    .stripe-2 {
      height: 8%;
      background: #00b9f1;
    }
    
    .stripe-3 {
      height: 5%;
      background: #7200da;
    }
    
    .stripe-4 {
      height: 3%;
      background: #f9320c;
    }
  }

  > .container {
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    > .content {
      max-width: 320px;
      margin: 0 auto;

      .logo {
        max-width: 100px;
        margin: .5rem auto 1rem auto;
        img {
          width: 100px;
          height: 100px;
        }
      }

      .button {
        color: white;
        &.login {
          background: #f9c00c;
        }
        &.register {
          background: #00b9f1;
        }
      }

      .forgot {
        text-align: center;
      }

    }
  }

}
